/*@font-face {
    font-family: 'acumin_pro_condensed_blackRg';
    src: url('../fonts/acumin_pro_condensed_black-webfont.woff2') format('woff2'),
         url('../fonts/acumin_pro_condensed_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

:root{
    --color-white:#ffffff;
    --color-black:#000000;
    --color-azul-txt-slide:#D1E8FF;
    --color-azul-light:#BAD9E2;
    --color-azul-rey:#004480;
    --color-azul-marino:#002E57;
    --color-azul-normal:#0094D4;
    --color-azul-normal-claro:#67B9E3;
    --color-azul-rey-dark:#00173E;
    --color-gris:#929292;
    --color-gris-claro:#C5C5C5;
    --color-gris-claro-azulado:#EEF0F3;
    --color-gris-white:#DFDFDF;
    --color-naranja-claro:#F3DED2;
    --font-acumin-pro-condensed: acumin-pro-condensed, sans-serif;
    /* COLORES PARA PRODUCTOS ESPECIALIZADOS */
    --color-desparasitantes-inyectables:#8C1627;
    --color-antibioticos-quimioterapicos:#C92530;
    --color-hormonales:#D5722D;
    --color-productos-solubles:#683880;
    --color-otc:#9FC456;
    --color-desparasitantes-orales:#459B5A;
    --color-electrolitos-y-vitaminicos:#0093D0;
    --color-desparasitantes-solubles:#49ACA5;
    --color-intramamarios:#CA397C;
    --color-desinfectantes-sanitizantes:#0A2E5E;
    --color-sueros-y-soluciones:#8D94C6;
    --color-premezclas:#800042;
    --color-antiinflamatorios:#F8D933;
}

.estilo{
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 800;
    font-style: normal;
}

body{
    
    font-size: 16px;
}

    /* FONTS */
h1, h2, h3, h4{
    font-family: var(--font-acumin-pro-condensed);
}
p, a{
    font-family: var(--font-acumin-pro-condensed);
}
.tit_general, .tit_secundario, .tit_tercero, .tit_cuarto, .tit_principal_bn, .tit_secundario_bn, .tit_tercero_bn, .tit_encabezado{
    line-height: 1;
    font-family: var(--font-acumin-pro-condensed);
    font-weight: 800;
}
.tit_general{
    font-size: 3rem;
}
.tit_secundario{
    font-size: 2.2rem;
}
.tit_secundario_bn{
    font-size: 2.2rem;
    color: var(--color-white);
}
.tit_tercero{
    font-size: 1rem;
}
.tit_tercero_bn{
    font-size: 1.4rem;
    color: var(--color-white);
}
.tit_cuarto{
    font-size: 1.4rem;
}
.tit_principal_bn{
    font-size: 3.2rem;
    color: var(--color-white);
}
.tit_encabezado{
    font-size: 3.4rem;
    color: var(--color-azul-rey);
}
.tit_encabezado span{
    color: var(--color-azul-normal);
}
.txt_general, .txt_general_bn, .txt_encabezado{
    font-family: var(--font-acumin-pro-condensed);
    font-size: 1rem;
    font-weight: normal;
}
.txt_encabezado{
    color: var(--color-azul-rey);
    font-size: 1.6rem;
    margin-bottom: 0;
}
.txt_general_blue{
    font-family: var(--font-acumin-pro-condensed);
    font-size: 1.1rem;
    font-weight: normal;
}
.txt_general{
    color: var(--color-azul-rey);
}
.txt_general_bn{
    color: var(--color-white);
}
.txt_general_blue{
    color: var(--color-azul-normal);
}

/* __BTN__ */
.btn_gen{
    position: relative;
    padding: 8px 24px;
    border-radius: 25px;
}
.content_btn{
    display: inline-block;
    transition: all 0.6s ease-out;
    transform: scale(1.05);
    margin-top: 1rem;
}
.content_btn:hover{
    transform: scale(1);
}
.col_txt_azul{
    color: var(--color-azul-rey);
}


    /* __BTN PRINCIPAL__ */
.btn_principal{
    background-color: var(--color-azul-normal);
    color: var(--color-white);
}
.btn_principal::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 90%;
    position: absolute;
    bottom: -6px;
    left: 10px;
    right: 30px;
    z-index: -1;
    border-radius: 30em;
    background: var(--color-azul-normal);
    filter: blur(10px) brightness(0.95);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
}
.btn_principal:hover {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}
.btn_principal:hover:before {
    bottom: -5px;
    filter: blur(10px) brightness(0.95);
}

    /* __BTN SECUNDARIO__ */
.btn_secundario{
    background-color: var(--color-white);
    color: var(--color-azul-normal);
    border: 2px solid var(--color-azul-normal);
}
.btn_secundario::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 90%;
    position: absolute;
    bottom: -6px;
    left: 10px;
    right: 30px;
    z-index: -1;
    border-radius: 30em;
    background: var(--color-azul-normal);
    filter: blur(10px) brightness(0.95);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
}
.btn_secundario:hover {
    text-decoration: none;
    color: var(--color-azul-normal);
    cursor: pointer;
}
.btn_secundario:hover:before {
    bottom: -5px;
    filter: blur(10px) brightness(0.95);
}

    /* __BTN PRINCIPAL NEGRO__ */
.btn_principal_black{
    position: relative;
    background-color: var(--color-azul-normal);
    color: var(--color-white);
}
.btn_principal_black::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 90%;
    position: absolute;
    bottom: -6px;
    left: 10px;
    right: 30px;
    z-index: -1;
    border-radius: 30em;
    background: var(--color-azul-rey-dark);
    filter: blur(10px) brightness(0.95);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
}
.btn_principal_black:hover {
    text-decoration: none;
    color: var(--color-white);
}
.btn_principal_black:hover:before {
    bottom: -5px;
    filter: blur(10px) brightness(0.95);
}

.btn_complementario{
    font-size: .9em;
    color: var(--color-gris);
    padding: 4px 12px;
}

/* __NAVEGACIÓN__ */
.space_fixed_azul{
    width: 100%;
    height: 140px;
    background-color: var(--color-azul-rey);
}
.space_fixed{
    width: 100%;
    height: 140px;
    background-color: var(--color-white);
}

#menu_principal{
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 99 ;
}
#menu_principal::before, #menu_principal::after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 1px;
    background-color: var(--color-azul-rey-dark);
}
#menu_principal::before{
    top: 48px;
}
#menu_principal::after{
    top: 140px;
}

#navbarNav{
    justify-content: flex-end!important;
}
.navbar{
    padding: 20px 0px;
}
.navbar .nav-item a{
    color: var(--color-azul-rey);
    opacity: .5;
    transition: all 0.6s;
}
.navbar-nav > .active > a{
    position: relative;
    opacity: 1;
}
.navbar-nav > .active > a::before{
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    bottom: -25px;
    background-color: var(--color-naranja-claro);
}
.navbar .nav-item:hover a{
    opacity: 1;
    color: var(--color-azul-rey);
}
.navbar-brand .brand{
    width: 200px;
    height: 45px;
    background-image: url("../images/svg/mediker-logotipo_azul_menu.svg");
}

    /* COLOR WHITE */
.color_white .navbar .nav-item:hover a{
    color: var(--color-white);
}
.color_white .navbar .nav-item a{
    color: var(--color-white);
}
.color_white .navbar-brand .brand{
    background-image: url("../images/svg/mediker-logotipo-bn-menu.svg");
}
.navbar-nav > .active > a::before{
    background-color: var(--color-azul-normal);
}
.color_white .icon_facebook, .color_white .icon_instagram, .color_white .icon_youtube, .color_white .icon_envelope, .color_white .icon_phone{
    fill: var(--color-white);
}
.color_white .list_contacto .item_contact{
    color: var(--color-white);
}

    /* NAV TOP */
.menu_social_top{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list_social, .list_contacto{
    padding: 12px 0px;
    display: inherit;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    z-index: 99999;
}
.list_contacto svg{
    margin-right: 6px;
}
.list_contacto .item_contact{
    color: var(--color-azul-rey);
}
.item_contact{
    margin: 0px 12px;
}
.icon_facebook, .icon_instagram, .icon_youtube, .icon_envelope, .icon_phone{
    fill: var(--color-azul-rey);
}

    /* MENÚ SCROLL */
.scroll-header{
    background-color: var(--color-white)!important;
}
.scroll-header .icon_facebook, .scroll-header .icon_instagram, .scroll-header .icon_youtube, .scroll-header .icon_envelope, .scroll-header .icon_phone{
    fill: var(--color-azul-rey);
}
.scroll-header .item_contact{
    color: var(--color-azul-rey);
}
.scroll-header .navbar-nav .nav-link, .scroll-header .navbar-nav .nav-link:hover{
    color: var(--color-azul-rey);
}
.scroll-header .navbar-nav > .active > a::before {
    background-color: var(--color-azul-normal);
}
.scroll-header::before, .scroll-header::after {
    background-color: var(--color-gris-white)!important;
}

.scroll-header .navbar-brand .brand{
    width: 200px;
    height: 45px;
    background-image: url("../images/svg/mediker-logotipo_azul_menu.svg");
}
    /* SLIDE */
.slide_txt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
h4.tit_slider{
    font-family: var(--font-acumin-pro-condensed);
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 800;
    line-height: 3rem;
    width: 66%;
}
.txt_slide{
    font-family: var(--font-acumin-pro-condensed);
    color: var(--color-azul-txt-slide);
    font-size: 1.6rem;
    width: 33%;
}
.slide_cont_up::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 60%;
    background-color: var(--color-azul-normal);
}
.slide_cont_up{
    background-image: url("../images/mediker_slide_txt.jpg");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.slide_cont_down{
    background-image: url("../images/Mediker-bg-slider-01.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}


/* __HOME PAGE__ */
    /* BIENVENIDO */
.bienvenido{
    position: relative;
}
.bienvenido .tit_general{
    margin-bottom: 30px;
}
.bienv_colum_left{
    margin: 60px 0px 40px 0px;
}
.bienv_colum_right{
    border-left: 1px solid var(--color-gris-white);
}
.bienv_colum_right img{ 
    position: relative;
    top: -12px;
    width: 100%;
}

    /* NUESTROS PRODUCTOS */
#nuestros_productos{
    padding: 80px 0px;
    background-color: var(--color-gris-claro-azulado);
}
#animals{
    padding: 34px 0px 28px 0px;
    border-top: 1px solid var(--color-gris-white);
    border-bottom: 1px solid var(--color-gris-white);
}
.list_animals{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 0;
}

    /* CARDS */
.card_product{
    box-sizing: border-box;
    background-color: var(--color-white);
    width: 100%;
    height: auto;
    min-height: 250px;
    padding: 28px;
    border-radius: 20px;
    margin-top: 28px;
    background-image: url("../images/mediker_bg_textura_card.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.cont_card_icon img{
    background-color: var(--color-azul-light);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 28px;
}
.cont_card_icon::before{
    position: absolute;
    content: "";
    width: 78%;
    height: 5px;
    bottom: -3px;
    background-color: var(--color-naranja-claro);
}
.cont_card_icon p{
    margin-top: 18px;
}
#nuestros_productos .content_btn{
    margin-top: 48px;
}

/* __PRODUCTOS DESTACADOS__ */
#pto_destacado{
    padding: 60px 0px 80px 0px;
    background: rgb(238,240,243);
    background: -moz-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef0f3",endColorstr="#ffffff",GradientType=1);
}
#pto_destacado::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    margin-top: -60px;
    background-color: var(--color-gris-white);
}
.fila_destacados .cont_pto_destacado{
    background-color: var(--color-gris-claro-azulado);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 16px;
    min-height: 242px;
}
.fila_destacados{
    margin-top: 100px;
    text-align: center;
}
.cont_pto_destacado img{
    position: relative;
    margin-top: -100px;
}
.cont_pto_destacado, .tit_cuarto{
    margin: 20px 0px 20px 0px;
}
.cont_pto_destacado .txt_general{
    font-size: 1.2rem;
}
.cont_pto_destacado .btn_complementario{
    position: absolute;
    bottom: 28px;
    margin-left: calc(50% - 184px);
}
.fila_btn_general{
    height: 0px;
}

/* __BANNER FARMACÉUTICA DE CALIDAD__ */
#banner_farma{
    padding: 60px 0px 120px 0px;
}
#banner_farma{
    width: 100%;
    left: 0;
    height: auto;
    background-image: url("../images/svg/bg_banner_azul.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
}
#banner_farma > div{
    position: relative;
}
.cont_gen_left{
    position: relative;
    max-width: 600px;
}
.cont_txt_left{
    top: 32px;
    position: absolute;
    box-sizing: border-box;
    padding: 40px 94px 50px 60px;
    max-width: 600px;
    background-color: blue;
    border-radius: 32px;
    border: 18px solid rgba(255,255,255,.5);
    background-image: url("../images/Mediker-banner-back-txt.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120%;
    z-index: 3;
}
.sombra_cont_left, .sombra_cont_right{
    display: inline-block;
    position: absolute;
    top: 340px;
    right: 30px;
    border-radius: 30em;
    background: var(--color-black);
    filter: blur(28px) brightness(0.15);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
}
.sombra_cont_left{
    z-index: 2;
    height: 40px;
    width: 96%;
    left: 10px;
}
.sombra_cont_right{
    height: 40px;
    z-index: 0;
    width: 56%;
    right: 56px;
}
.img_banner_farmaceutica{
    margin-left: 40%;
    border-radius: 32px;
    border: 18px solid rgba(255,255,255,.5);
    z-index: 1;
}
.cont_img_right{
    position: relative;
    z-index: 1;
}

/* __SERVICIOS__ */
#n_servicios{
    background-color: var(--color-azul-rey);
    padding: 10px 0px 60px 0px;
    margin-top: -1px;
}
#n_servicios .content_btn{

}
.cont_servicios img{
    height: 40px;
    margin-bottom: 20px;
}
.cont_servicios .txt_general_blue{
    margin-top: 20px;
}
.id_servicios .content_btn{
    margin-top: 26px;
}


/* __FOOTER__ */
#foot{
    background-color: var(--color-azul-marino);
    padding: 60px 0px 0px 0px;
}
.cont_logo_footer{
    margin-top: 16px;
}
.list_footer_menu{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
    max-height: 150px;
}
.list_footer_menu a{
    margin-bottom: 16px;
    font-family: var(--font-acumin-pro-condensed);
    font-size: 1.2rem;
    color: var(--color-azul-normal);
}
.list_footer_menu .active{
    color: var(--color-white);
}
.cont_card_footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    opacity: .5;
    transition: all 0.6s;
    min-height: 92px;
}
.cont_card_footer:hover{
    opacity: 1;
}
.cont_card_footer a{
    color: var(--color-white);
    font-family: var(--font-acumin-pro-condensed);
    font-size: .9rem;
}
.cont_card_footer a:hover{
    color: var(--color-white);
    text-decoration: underline!important;
}
.cont_card_footer img{
    position: relative;
    top: 0;
    width: 20px;
    margin-right: 20px;
}
.list_contact_phone{
    padding-left: 0;
    list-style: none;
}

    /* __LEGALES__ */
.row_legales{
    background-color: var(--color-azul-rey-dark);
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 100%;
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.row_legales p{
    color: var(--color-white);
}
.list_footer_social{
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.list_footer_social a{
    margin-right: 16px;
}

/* __SECTION NOSOTROS__ */
.caption_tit{
    font-family: var(--font-acumin-pro-condensed);
    color: var(--color-gris);
    font-size: 1.4em;
    margin-bottom: 0;
}
.head_nosotros{
    border-bottom: 1px solid var(--color-gris-white);
}
.head_nosotros .row > div{
    padding: 80px 0px;
}
.head_nosotros .row > div:nth-child(2){
    border-left: 1px solid var(--color-gris-white);
    padding-left: 40px;
}

/* __ANIMALS__ */
#animals_nostr{
    background-image: url("../images/svg/bg_banner_azul_lg.svg");
    background-repeat: no-repeat;
    background-position: center 400px;
    background-size: auto;
    margin-top: 60px;
}
.fila_list_animals{
    padding: 60px 0px;
}
.list_nosotros_animals{
    padding-left: 0;
    list-style: none;
}
.list_nosotros_animals .item_animal{
    color: var(--color-white);
    font-size: 1.5rem;
    font-family: var(--font-acumin-pro-condensed);
    font-weight: normal;
}
.list_nosotros_animals .item_animal::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: -8px;
    border-radius: 25px;
    margin-top: 14px;
    border: 3px solid var(--color-azul-normal-claro);
}

    /* VALORES */
.section_valores{
    background-color: var(--color-azul-marino);
    padding: 120px 0px 80px 0px;
}
.section_valores > div > div{
    position: relative;
}
.list_valores{
    padding-left: 0;
    list-style: none;
}
.list_valores .item_valores{
    color: var(--color-white);
    font-family: var(--font-acumin-pro-condensed);
    font-size: 1rem;
}
.list_valores .item_valores::before{
    position: absolute;
    content: "+";
    font-size: 18px;
    left: 0;
    margin-top: -4px;
}
.btn_flotante{
    position: absolute;
    top: -150px;
    margin-left: calc(50% - 60px);
}
.tab-content .tit_cuarto{
    margin: 0;
}
.cont_tabs_txt{
    margin: 10px 0px 20px 0px;
}
.tab-content{
    background-color: var(--color-white);
    border: 1px solid var(--color-gris-claro-azulado);
    box-sizing: border-box;
    padding: 40px 60px;
    border-radius: 26px;
}
    /* HISTORIAL */
.tab_historia{
    position: relative;
    padding: 80px 0px;
    background: rgb(238,240,243);
    background: -moz-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef0f3",endColorstr="#ffffff",GradientType=1);
}
.tab-content .tab-pane::before{
    position: absolute;
    content: "";
    width: 87%;
    height: 5px;
    bottom: -3px;
    background-color: var(--color-naranja-claro);
}
.tab_historia .nav{
    justify-content: space-between;
}
.tab-pane .row > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /* NUESTROS PRODUCTOS ESPECIALIZADOS */
#pto_especializado{
    padding: 0px 0px 60px 0px;
}
#pto_especializado .row{
    margin-top: 60px;
}
.cont_pto_especial{
    text-align: center;
    background-color: var(--color-gris-claro-azulado);
    box-sizing: border-box;
    padding: 12px;
    border-radius: 20px;
    min-height: 110px;
}
.cont_pto_especial img{
    margin-top: -64px;
    padding: 12px;
    width: auto;
    height: 48px;
    border-radius: 12px;
}
.cont_pto_especial .tit_cuarto{
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 16px;
}
    /* COLORES PRODUCTOS */
.color_01{
    background-color: var(--color-desparasitantes-inyectables);
}
.color_02{
    background-color: var(--color-antibioticos-quimioterapicos);
}
.color_03{
    background-color: var(--color-hormonales);
}
.color_04{
    background-color: var(--color-productos-solubles);
}
.color_05{
    background-color: var(--color-otc);
}
.color_06{
    background-color: var(--color-desparasitantes-orales);
}
.color_07{
    background-color: var(--color-electrolitos-y-vitaminicos);
}
.color_08{
    background-color: var(--color-desparasitantes-solubles);
}
.color_09{
    background-color: var(--color-intramamarios);
}
.color_10{
    background-color: var(--color-desinfectantes-sanitizantes);
}
#photo_product .list_valores{
    padding-left: 22px;
}
#photo_product .list_valores .item_valores::before {
    position: absolute;
    content: "+";
    font-size: 18px;
    left: 46px;
    margin-top: -4px;
}

/* __QUÉ HACEMOS__ */
#encabezado_hacemos{
    padding: 80px 0px;
}
.head_hacemos, .col_head_right{
    display: inherit;
    align-items: center;
}
    /* CARD PHOTO */
#photo_product{
    padding: 60px 0px;
    background: rgb(238,240,243);
    background: -moz-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef0f3",endColorstr="#ffffff",GradientType=1);
}
.photo_product{
    box-sizing: border-box;
    border-radius: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 26px 26px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.4s;
    margin-bottom: 30px;
}
.photo_product:hover{
    background-size: 120% 120%;
}
.photo_product_01{
    background-image: url("../images/Mediker-productos-diferenciados.jpg");
}
.photo_product_02{
    background-image: url("../images/Mediker-produccion.jpg");
}
.photo_product_03{
    background-image: url("../images/Mediker-soporte-asesoria.jpg");
}
.photo_product_04{
    background-image: url("../images/Mediker-laboratorio.jpg");
}
#photo_product .txt_general_bn{
    color: var(--color-azul-txt-slide);
}

/* __PRODUCTOS__ */

    /* BREADCRUMB */
#breadcrumb{
    border-bottom: 1px solid var(--color-gris-white);
}
.bg_breadcrumb{
    background-color: #EEF0F3;
}
.section_breadcrumb > div{
    margin-left: 0;
    margin-right: 0;
}

#productos_filter{
    padding: 60px 0px;
    background: rgb(238,240,243);
    background: -moz-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef0f3",endColorstr="#ffffff",GradientType=1);
}
.cont_p_indv{
    box-sizing: border-box;
    padding: 28px 12px;
    background-color: var(--color-white);
    border-radius: 12px;
    margin-bottom: 22px;
    border: 1px solid var(--color-gris-white);
    text-align: center;
}
.cont_p_indv img{
    margin-bottom: 16px;
}
.nom_producto{
    font-family: var(--font-acumin-pro-condensed);  
    font-weight: bold; 
    color: var(--color-azul-rey);
}

/* BOTONES PAGINACIÓN */
.cont_productos_der .row{
    flex-direction: column;
}
.cont_productos_der .row .pagination-items{
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.article-loop > *{
    flex: 0 0 auto;
    width: 260px;
}
.pagination {
    display: block;
    width: 75%;
    margin: 1em auto;
    text-align: center;
}
.pagination:after {
    content: "";
    clear: both;
}
.pagination-button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 8px;
    border-radius: 8px;
    background-color: var(--color-gris-claro-azulado);
    color: #333;
    cursor: pointer;
    transition: background 0.1s, color 0.1s;
}
.pagination-button:hover {
    background-color: #ddd;
    color: #3366cc;
}
.pagination-button.active {
    background-color: var(--color-white);
    border: 2px solid var(--color-azul-normal);
    color: var(--color-azul-rey);
}
.pagination-button:first-of-type {
    border-radius: 8px;
}
.pagination-button:last-of-type {
    border-radius: 8px;
}

    /* INFORMACIÓN DE PRODUCTOS */
#info_producto .row{
    align-items: center;
}
.col_left_pto_descrp{
    padding: 80px 16px;
    border-right: 1px solid var(--color-gris-white);
}
.con_especies{
    display: flex;
    flex-direction: row;
}
.con_especies .item_especies{
    background-color: #BAD9E2;
    padding: 16px;
    border-radius: 14px;
    margin-top: 12px;
    margin-right: 12px;
}

/* __BLOG__ */
#noticias{
    padding: 60px 0px;
    background: rgb(238,240,243);
    background: -moz-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(238,240,243,1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef0f3",endColorstr="#ffffff",GradientType=1);
}
.blog_element{
    background-color: var(--color-white);
    padding: 12px 12px 42px 12px;
    border-radius: 22px;
    margin-bottom: 24px;
}
.blog_element h3, .blog_element p, .blog_element div{
    margin-left: 24px;
    margin-right: 24px;
}
.blog_element img{
    border-radius: 16px;
}
.section_noticias .tit_cuarto{
    font-size: 2rem;
}
.list_noticias{
    padding-left: 0;
    list-style: none;
}
.item_list_noticias{
    margin-top: 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list_noticias a:nth-child(n+2) .item_list_noticias{
    border-top: 1px solid var(--color-gris-claro);
}
#noticias .txt_secundario{
    margin-top: 14px;
    margin-left: 16px;
    color: var(--color-azul-rey);
    font-family: var(--font-acumin-pro-condensed);
    font-weight: 600;
}
.cont_img_blog{
    display: block;
}

    /* __RESPONSIVE__ */
@media screen and (max-width:1366px){
    
}